<!doctype html>
<html lang="en-US">
<head>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>

<body>
<h1> Flow matrix </h1>


<table class="table">
    <thead>
    <tr>
        <th>#</th>
        {%- for key1 in data -%}
        <th>{{ key1 }}</th>
        {%- endfor -%}
    </tr>
    </thead>
    <tbody>
    {%- for key1 in data -%}
    <tr>
        <th scope="row">{{ key1 }}</th>
        {%- for key2 in data -%}
        <td bgcolor="{{ data[key2][key1][0] }}">{{data[key2][key1][1]}}</td>
        {%- endfor -%}
    </tr>
    {%- endfor -%}
    </tbody>
</table>
<h1> Flow graph </h1>
<div>
    {{ svg | safe}}
    <div>
</body>


</html>