<html>

<header>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

</header>

<body>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        {% for key1 in data %}
        <th>{{ key1 }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>


    {% for key1 in data %}

    <tr>
        <th scope="row">{{ key1 }}</th>
        {% for key2 in data %}


        <td bgcolor="{{ data[key2][key1][0] }}">{{data[key2][key1][1]}}</td>


        {% endfor %}
    </tr>

    {% endfor %}
</body>


</html>